body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3f2ef;
}

#container {
  display: flex;
  margin-bottom: 5rem;
}

#card {
  height: 28rem;
  width: 22rem;
  border-radius: 1rem;
  background-color: white;
  text-align: center;
  margin-top: 4rem;
  margin-left: 2rem;
}

#header-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 22rem;
  height: 10rem;
}

#profile-img {
  height: 9rem;
  width: 9rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  margin-top: -2rem;
}

#name:hover {
  text-decoration: underline;
}

#about {
  color: grey;
}

/*#profile-card-holder {
  width: 20rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

#card-xl {
  display: none;
  height: 40rem;
  width: 60rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: white;
  margin-top: 4rem;
  margin-left: 2rem;
}

#header-img-xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 60rem;
  height: 20rem;
  text-align: center;
}

#profile-img-xl {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: -10rem;
  margin-left: 2rem;
  border: 0.3rem solid white;
}

#h1-xl {
  padding-left: 2rem;
}

#about-xl {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: grey;
}

#location-connections {
  text-align: left;
}

#location {
  padding-left: 2rem;
  font-size: 1.2rem;
  color: grey;
  display: inline-block;
}

#connections-count {
  color: #0a66c2;
  display: inline-block;
  font-size: 1.2rem;
  padding-left: 1rem;
}

#connections-count:hover {
  text-decoration: underline;
}

#contact {
  color: #0a66c2;
  display: inline-block;
  font-size: 1.2rem;
  padding-left: 1rem;
}

#contact:hover {
  text-decoration: underline;
}

.fa-window-close {
  color: #0a66c2;
  font-size: 1.3rem;
  float: right;
  padding-top: 1.5rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #card {
    height: 28rem;
    width: 22rem;
    border-radius: 2rem;
    background-color: white;
    text-align: center;
    margin: 1rem;
  }

  #card-xl {
    display: none;
    height: 31rem;
    width: 25rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    margin: 1rem;
  }

  #header-img-xl {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 25rem;
    height: 10rem;
    text-align: center;
  }

  #profile-img-xl {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: -5rem;
    margin-left: 1rem;
    border: 0.3rem solid white;
  }

  #h1-xl {
    padding-left: 1.5rem;
  }

  #about-xl {
    padding-left: 1.5rem;
    padding-right: 1rem;
    font-size: 1rem;
    color: grey;
  }

  #location-connections {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  #location {
    padding-left: 1.5rem;
    font-size: 1rem;
    color: grey;
  }

  #connections-count {
    color: #0a66c2;
    font-size: 1rem;
    padding-left: 1.5rem;
  }

  #connections-count:hover {
    text-decoration: underline;
  }

  #contact {
    color: #0a66c2;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
  }

  #contact:hover {
    text-decoration: underline;
  }

  .fa-window-close {
    color: whitesmoke;
    font-size: 1.5rem;
    position: absolute;
    right: 0.3rem;
    top: 1rem;
  }
}
